TravellerTools/Grauenwolf.TravellerTools.Web/App_Data/TradeGoods.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TradeGoods">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="TradeGood">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element maxOccurs="unbounded" name="Purchase">
									<xs:complexType>
										<xs:attribute name="Tag" type="xs:string" use="required" />
										<xs:attribute name="Bonus" type="xs:integer" use="required" />
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="unbounded" name="Sale">
									<xs:complexType>
										<xs:attribute name="Tag" type="xs:string" use="required" />
										<xs:attribute name="Bonus" type="xs:integer" use="required" />
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="unbounded" name="Detail">
									<xs:complexType>
										<xs:attribute name="Roll" type="xs:string" use="required" />
										<xs:attribute name="Name" type="xs:string" use="required" />
										<xs:attribute name="Tons" type="xs:string" use="required" />
										<xs:attribute name="Price" type="xs:decimal" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string" use="required" />
						<xs:attribute name="Roll" type="xs:unsignedByte" use="required" />
						<xs:attribute name="Availability" type="xs:string" use="required" />
						<xs:attribute name="BasePrice" type="xs:decimal" use="required" />
						<xs:attribute name="Tons" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>